<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="API_KEY" value="46774454" />
    <add key="SESSION_ID" value="2_MX40Njc3NDQ1NH5-MTU5MTE1NDM3MDYzNn5JVU1HSnVtQ2xjczF3eEN5bS9pMUxPQ3R-fg" />
    <add key="TOKEN" value="T1==cGFydG5lcl9pZD00Njc3NDQ1NCZzaWc9ZGZmNTMxMzFhNTQ3N2RjOWY0MzhiMDA3OWRjZjE5NzNmMmEzZWU5NjpzZXNzaW9uX2lkPTJfTVg0ME5qYzNORFExTkg1LU1UVTVNVEUxTkRNM01EWXpObjVKVlUxSFNuVnRRMnhqY3pGM2VFTjViUzlwTVV4UFEzUi1mZyZjcmVhdGVfdGltZT0xNTkxMTU2MDg3JnJvbGU9cHVibGlzaGVyJm5vbmNlPTE1OTExNTYwODcuMTY3NjIxNDcyMDIyMTQ=" />
  </appSettings>
</configuration>